progressQuiz,
music,
#answerContainer,
#answer,
typeSelection {
  display: block;
  margin: 0px auto;
}

music {
  width: 100px;
}

#answer {
  width: 65px;
}

progressQuiz {
  width: 80px;
  text-align: center;
}

typeSelection {
  width: 10%;
  text-align: center;
}

canvas {
  border: 1px solid black;
}
